{% extends 'clg/base.html' %}
{% load static %}
{% block content %}
    <!--JUMBOTRON-->
    <div class="jumbotron">
        <h1 style="font-family: 'Monotype Corsiva'; font-size: xx-large; color: #062c33;"><u>Overview</u></h1>
        <p style="font-family: 'Arial Narrow'; font-style: normal; font: message-box; font-size: medium;">Engineering is not only reading and comprehending but it is also to be proficient in applications. Poornima University provides the perfect ambience at SET which is highly inspiring and conducive for the acquisition of knowledge and honing of skills<br>
        An unfettered spirit of knowledge, exploration, academic integrity, accountability and promotion of intellectual excellence make SET distinct from the rest.<br>
        </p>

    </div>
    <!--END OF JUMBOTRON-->
<div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-style: oblique; border-color: #002752; font-weight: bold;">School of Engineering</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b;">
                        <div class="card-body">
                            <h4 class="card-title">CIVIL</h4>
                            <h6 class="text-muted card-subtitle mb-2">4 YEARS COURSE</h6>
                             <img class="card-img" src="{% static 'pu/civil.jpg' %}">
                            <button type="button" class="btn" data-toggle="collapse" data-target="#demo1" style="color: #062c33;">Fee Structure</button>
                              <div id="demo1" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                             </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b">
                        <div class="card-body">
                            <h4 class="card-title">MECHANICAL</h4>
                            <h6 class="text-muted card-subtitle mb-2" >4 YEARS COURSE</h6>
                            <img class="card-img" src="{% static 'pu/mechanical.jpg' %}" >
                            <button type="button" class="btn" data-toggle="collapse" data-target="#demo2" style="color: #062c33;">Fee Structure</button>
                              <div id="demo2" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                             </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b;">
                        <div class="card-body">
                            <h4 class="card-title">ELECTRICAL</h4>
                            <h6 class="text-muted card-subtitle mb-2">4 YEARS COURSE</h6>
                         <img class="card-img" src="{% static 'pu/electrical.jpg' %}" style="height: 137px;">
                         <button type="button" class="btn" data-toggle="collapse" data-target="#demo3" style="color: #062c33;">Fee Structure</button>
                              <div id="demo3" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b; " >
                        <div class="card-body">
                            <h4 class="card-title">ELECTRONICS</h4>
                            <h6 class="text-muted card-subtitle mb-2">4 YEARS COURSE</h6>
                             <img class="card-img" src="{% static 'pu/electronic.jpg' %}" style="height: 137px;">
                         <button type="button" class="btn" data-toggle="collapse" data-target="#demo4" style="color: #062c33;">Fee Structure</button>
                              <div id="demo4" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-style: oblique; border-color: #002752; font-weight: bold;">School of Computer Science</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b">
                        <div class="card-body">
                            <h4 class="card-title">COMPUTER SCIENCE</h4>
                            <h6 class="text-muted card-subtitle mb-2">4 YEARS COURSE</h6>
                           <button type="button" class="btn" data-toggle="collapse" data-target="#demo5" style="color: #062c33;">Fee Structure</button>
                              <div id="demo5" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="border-color: #4e555b">
                        <div class="card-body">
                            <h4 class="card-title">CLOUD COMPUTER ENGINEERING</h4>
                            <h6 class="text-muted card-subtitle mb-2">4 YEARS COURSE</h6>
                         <button type="button" class="btn" data-toggle="collapse" data-target="#demo6" style="color: #062c33;">Fee Structure</button>
                              <div id="demo6" class="collapse">
                                  <div class="list-group">
                                      <ul class="list-group-item">
                                          RS 1,00,000/Year

                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="background-color: white;">
                    <div class="container">
                        <div class="card">
                            <div class="card-body" style="background-color: red;">
                                <H3>Admission Closed for This Session</H3>
                            </div>
                        </div>

                         <div class="card">
                            <div class="card-body" style="background-color: green;">
                                <H3>Admission Starting Soon</H3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}